In [1]:
users_data = [[0, "Hero", 0],
[1, "Dunn", 2],
[2, "Sue", 3],
[3, "Chi", 3]]
users_data

[[0, 'Hero', 0], [1, 'Dunn', 2], [2, 'Sue', 3], [3, 'Chi', 3]]

In [2]:
import data_analysis_tools as da
users = da.Table(["user_id", "name", "num_friends"])
# insert
users.insert([0, "Hero", 0])
users.insert([1, "Dunn", 2])
users.insert([2, "Sue", 3])
users.insert([3, "Chi", 3])
users.insert([4, "Thor", 3])
users.insert([5, "Clive", 2])
users.insert([6, "Hicks", 3])
users.insert([7, "Devin", 2])
users.insert([8, "Kate", 2])
users.insert([9, "Klein", 3])
print(users)

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}
{'user_id': 1, 'name': 'Dunn', 'num_friends': 2}
{'user_id': 2, 'name': 'Sue', 'num_friends': 3}
{'user_id': 3, 'name': 'Chi', 'num_friends': 3}
{'user_id': 4, 'name': 'Thor', 'num_friends': 3}
{'user_id': 5, 'name': 'Clive', 'num_friends': 2}
{'user_id': 6, 'name': 'Hicks', 'num_friends': 3}
{'user_id': 7, 'name': 'Devin', 'num_friends': 2}
{'user_id': 8, 'name': 'Kate', 'num_friends': 2}
{'user_id': 9, 'name': 'Klein', 'num_friends': 3}

In [3]:
# update
users.update({"num_friends": 5}, lambda row: row["num_friends"] == 3)
print(users)

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}
{'user_id': 1, 'name': 'Dunn', 'num_friends': 2}
{'user_id': 2, 'name': 'Sue', 'num_friends': 5}
{'user_id': 3, 'name': 'Chi', 'num_friends': 5}
{'user_id': 4, 'name': 'Thor', 'num_friends': 5}
{'user_id': 5, 'name': 'Clive', 'num_friends': 2}
{'user_id': 6, 'name': 'Hicks', 'num_friends': 5}
{'user_id': 7, 'name': 'Devin', 'num_friends': 2}
{'user_id': 8, 'name': 'Kate', 'num_friends': 2}
{'user_id': 9, 'name': 'Klein', 'num_friends': 5}

In [4]:
# delete
users.delete(lambda row: row["num_friends"]==2)
print(users)

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}
{'user_id': 2, 'name': 'Sue', 'num_friends': 5}
{'user_id': 3, 'name': 'Chi', 'num_friends': 5}
{'user_id': 4, 'name': 'Thor', 'num_friends': 5}
{'user_id': 6, 'name': 'Hicks', 'num_friends': 5}
{'user_id': 9, 'name': 'Klein', 'num_friends': 5}

In [25]:
# select
print(users.select(), '\n')
print(users.limit(1), '\n')
print(
    users.select(keep_columns=["user_id"]),
    '\n'
)
print(
    users.where(lambda row: row["num_friends"] == 5)\
        .select(keep_columns=["name", "user_id"]),
    '\n'
)

def name_len(row):
    return len(row["name"])

# SELECT user_id, LENGTH(name) AS name_length FROM users;
print(
    users.select(keep_columns=["user_id"] , additional_columns={ "name_length": name_len }),
    '\n'
)

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}
{'user_id': 2, 'name': 'Sue', 'num_friends': 5}
{'user_id': 3, 'name': 'Chi', 'num_friends': 5}
{'user_id': 4, 'name': 'Thor', 'num_friends': 5}
{'user_id': 6, 'name': 'Hicks', 'num_friends': 5}
{'user_id': 9, 'name': 'Klein', 'num_friends': 5}

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}

['user_id']
{'user_id': 0}
{'user_id': 2}
{'user_id': 3}
{'user_id': 4}
{'user_id': 6}
{'user_id': 9}

['name', 'user_id']
{'name': 'Sue', 'user_id': 2}
{'name': 'Chi', 'user_id': 3}
{'name': 'Thor', 'user_id': 4}
{'name': 'Hicks', 'user_id': 6}
{'name': 'Klein', 'user_id': 9}

['user_id', 'name_length']
{'user_id': 0, 'name_length': 4}
{'user_id': 2, 'name_length': 3}
{'user_id': 3, 'name_length': 3}
{'user_id': 4, 'name_length': 4}
{'user_id': 6, 'name_length': 5}
{'user_id': 9, 'name_length': 5}

In [ ]:
# group by