In [1]:
users_data = [[0, "Hero", 0],
[1, "Dunn", 2],
[2, "Sue", 3],
[3, "Chi", 3]]
users_data

[[0, 'Hero', 0], [1, 'Dunn', 2], [2, 'Sue', 3], [3, 'Chi', 3]]

In [2]:
import data_analysis_tools as da
users = da.Table(["user_id", "name", "num_friends"])
# insert
users.insert([0, "Hero", 0])
users.insert([1, "Dunn", 2])
users.insert([2, "Sue", 3])
users.insert([3, "Chi", 3])
users.insert([4, "Thor", 3])
users.insert([5, "Clive", 2])
users.insert([6, "Hicks", 3])
users.insert([7, "Devin", 2])
users.insert([8, "Kate", 2])
users.insert([9, "Klein", 3])
print(users)

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}
{'user_id': 1, 'name': 'Dunn', 'num_friends': 2}
{'user_id': 2, 'name': 'Sue', 'num_friends': 3}
{'user_id': 3, 'name': 'Chi', 'num_friends': 3}
{'user_id': 4, 'name': 'Thor', 'num_friends': 3}
{'user_id': 5, 'name': 'Clive', 'num_friends': 2}
{'user_id': 6, 'name': 'Hicks', 'num_friends': 3}
{'user_id': 7, 'name': 'Devin', 'num_friends': 2}
{'user_id': 8, 'name': 'Kate', 'num_friends': 2}
{'user_id': 9, 'name': 'Klein', 'num_friends': 3}

In [3]:
# update
users.update({"num_friends": 5}, lambda row: row["num_friends"] == 3)
print(users)

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}
{'user_id': 1, 'name': 'Dunn', 'num_friends': 2}
{'user_id': 2, 'name': 'Sue', 'num_friends': 5}
{'user_id': 3, 'name': 'Chi', 'num_friends': 5}
{'user_id': 4, 'name': 'Thor', 'num_friends': 5}
{'user_id': 5, 'name': 'Clive', 'num_friends': 2}
{'user_id': 6, 'name': 'Hicks', 'num_friends': 5}
{'user_id': 7, 'name': 'Devin', 'num_friends': 2}
{'user_id': 8, 'name': 'Kate', 'num_friends': 2}
{'user_id': 9, 'name': 'Klein', 'num_friends': 5}

In [4]:
# delete
users.delete(lambda row: row["user_id"]==3)
print(users)

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}
{'user_id': 1, 'name': 'Dunn', 'num_friends': 2}
{'user_id': 2, 'name': 'Sue', 'num_friends': 5}
{'user_id': 4, 'name': 'Thor', 'num_friends': 5}
{'user_id': 5, 'name': 'Clive', 'num_friends': 2}
{'user_id': 6, 'name': 'Hicks', 'num_friends': 5}
{'user_id': 7, 'name': 'Devin', 'num_friends': 2}
{'user_id': 8, 'name': 'Kate', 'num_friends': 2}
{'user_id': 9, 'name': 'Klein', 'num_friends': 5}

In [5]:
# select
print(users.select(), '\n')
print(users.limit(1), '\n')
print(
    users.select(keep_columns=["user_id"]),
    '\n'
)
print(
    users.where(lambda row: row["num_friends"] == 5)\
        .select(keep_columns=["name", "user_id"]),
    '\n'
)

def name_len(row):
    return len(row["name"])

# SELECT user_id, LENGTH(name) AS name_length FROM users;
print(
    users.select(keep_columns=["user_id"] , additional_columns={ "name_length": name_len }),
    '\n'
)

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}
{'user_id': 1, 'name': 'Dunn', 'num_friends': 2}
{'user_id': 2, 'name': 'Sue', 'num_friends': 5}
{'user_id': 4, 'name': 'Thor', 'num_friends': 5}
{'user_id': 5, 'name': 'Clive', 'num_friends': 2}
{'user_id': 6, 'name': 'Hicks', 'num_friends': 5}
{'user_id': 7, 'name': 'Devin', 'num_friends': 2}
{'user_id': 8, 'name': 'Kate', 'num_friends': 2}
{'user_id': 9, 'name': 'Klein', 'num_friends': 5}

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0}

['user_id']
{'user_id': 0}
{'user_id': 1}
{'user_id': 2}
{'user_id': 4}
{'user_id': 5}
{'user_id': 6}
{'user_id': 7}
{'user_id': 8}
{'user_id': 9}

['name', 'user_id']
{'name': 'Sue', 'user_id': 2}
{'name': 'Thor', 'user_id': 4}
{'name': 'Hicks', 'user_id': 6}
{'name': 'Klein', 'user_id': 9}

['user_id', 'name_length']
{'user_id': 0, 'name_length': 4}
{'user_id': 1, 'name_length': 4}
{'user_id': 2, 'name_length': 3}
{'user_id': 4, 'name_length': 4}
{'user_id': 5, 'name_length': 5}
{'user_id': 6, 'name_length': 5}
{'user_id': 7, 'name_length': 5}
{'user_id': 8, 'name_length': 4}
{'user_id': 9, 'name_length': 5}

In [6]:
# group by
def min_user_id(rows):
    return min(row["user_id"] for row in rows)

stats_by_length = users\
    .select(additional_columns={"name_length": name_len})\
    .group_by(group_by_columns=["name_length"], aggregates={ "min_user_id": min_user_id, "num_users": len })

print(stats_by_length)

['name_length', 'min_user_id', 'num_users']
{'name_length': 4, 'min_user_id': 0, 'num_users': 4}
{'name_length': 3, 'min_user_id': 2, 'num_users': 1}
{'name_length': 5, 'min_user_id': 5, 'num_users': 4}

In [7]:
def first_letter_of_name(row):
    return row["name"][0] if row["name"] else ""
def average_num_friends(rows):
    return sum(row["num_friends"] for row in rows) / len(rows)
def enough_friends(rows):
    return average_num_friends(rows) > 1

avg_friends_by_letter = users\
    .select(additional_columns={'first_letter' : first_letter_of_name}) \
    .group_by(group_by_columns=['first_letter'],
        aggregates={ "avg_num_friends" : average_num_friends },
        having=enough_friends)
print(avg_friends_by_letter)

['first_letter', 'avg_num_friends']
{'first_letter': 'H', 'avg_num_friends': 2.5}
{'first_letter': 'D', 'avg_num_friends': 2.0}
{'first_letter': 'S', 'avg_num_friends': 5.0}
{'first_letter': 'T', 'avg_num_friends': 5.0}
{'first_letter': 'C', 'avg_num_friends': 2.0}
{'first_letter': 'K', 'avg_num_friends': 3.5}

In [8]:
def sum_user_ids(rows): return sum(row["user_id"] for row in rows)

user_id_sum = users\
    .where(lambda row: row["user_id"] > 1)\
    .group_by(group_by_columns=[], aggregates={ "user_id_sum": sum_user_ids })

print(user_id_sum)

['user_id_sum']
{'user_id_sum': 41}

In [9]:
# order by
friendliest_letters = avg_friends_by_letter\
    .order_by(lambda row: -row["avg_num_friends"])\
    .limit(5)

print(friendliest_letters)

['first_letter', 'avg_num_friends']
{'first_letter': 'S', 'avg_num_friends': 5.0}
{'first_letter': 'T', 'avg_num_friends': 5.0}
{'first_letter': 'K', 'avg_num_friends': 3.5}
{'first_letter': 'H', 'avg_num_friends': 2.5}
{'first_letter': 'D', 'avg_num_friends': 2.0}

In [10]:
# join
user_interests = da.Table(["user_id", "interest"])
user_interests.insert([0, "SQL"])
user_interests.insert([0, "NoSQL"])
user_interests.insert([2, "SQL"])
user_interests.insert([2, "MySQL"])
print(user_interests)

['user_id', 'interest']
{'user_id': 0, 'interest': 'SQL'}
{'user_id': 0, 'interest': 'NoSQL'}
{'user_id': 2, 'interest': 'SQL'}
{'user_id': 2, 'interest': 'MySQL'}

In [13]:
sql_users = users \
    .join(user_interests) \
    .where(lambda row: row["interest"] == "SQL") \
    .select()
print(sql_users)

['user_id', 'name', 'num_friends', 'interest']
{'user_id': 0, 'name': 'Hero', 'num_friends': 0, 'interest': 'SQL'}
{'user_id': 2, 'name': 'Sue', 'num_friends': 5, 'interest': 'SQL'}

In [14]:
def count_interests(rows):
    return len([row for row in rows if row["interest"] is not None])

user_interests_counts = users \
    .join(user_interests, left_join=True) \
    .group_by(group_by_columns=["user_id"], aggregates={"num_interests": count_interests})

print(user_interests_counts)

['user_id', 'num_interests']
{'user_id': 0, 'num_interests': 2}
{'user_id': 2, 'num_interests': 2}